* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
}

/*Home Page*/
/* Header */
.navbar .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.navbar .btn:hover {
    background: #397ef6;
    color: #fff;
}

.navbar {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    padding-right: 2%;
}

.navbar .logo img {
    height: 50px;
    width: 100%;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
}

.navbar .menu li .active {
    border-bottom: 4px solid #397ef6;
}

.navbar .menu li a i {
    color: #f63e4e;
}

.navbar .menu-btn .icons div{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    font-size: 1.5rem;
    margin-right: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.navbar .menu-btn .icons div:hover {
    background: #397ef6;
    color: #fff;
}

.navbar #menu-btn {
    display: none;
}

.navbar .search-form {
    position: absolute;
    top: 110%; right: -110%;
    width: 35rem;
    height: 4rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2.5em rgba(0,0,0,0.15);
}

.navbar .search-form.active {
    right: 2rem;
    transition: 0.4s linear;
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.2rem;
    color: black;
    padding: 0 1.5rem;
    border: none;
}

.navbar .search-form label {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}

.navbar .search-form label:hover {
    color: #397ef6;
}

.navbar .shopping-cart {
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2.5em rgba(0,0,0,0.15);
    width: 25rem;
    background: #fff;
}

.navbar .shopping-cart.active {
    right: 2rem;
    transition: 0.4s linear;
}

.navbar .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.navbar .shopping-cart .box img {
    height: 7rem;
}

.navbar .shopping-cart .box .fa-trash {
    font-size: 1.5rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.navbar .shopping-cart .box .fa-trash:hover {
    color: #397ef6;
}

.navbar .shopping-cart .box .cart-content h3 {
    color: var(--black);
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
}

.navbar .shopping-cart .box .cart-content span {
    color: var(--light-color);
    font-size: 1rem;
}

.navbar .shopping-cart .box .cart-content .quantity {
    padding-left: 1rem;
}

.navbar .shopping-cart .total {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    color: black;
}

.navbar .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

.navbar .login-form {
    position: absolute;
    top: 110%; right: -110%;
    width: 18rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 2.5em rgba(0,0,0,0.15);
}

.navbar .login-form.active {
    right: 2rem;
    transition: 0.4s linear;
}

.navbar .login-form h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #397ef6
}

.navbar .login-form .box {
    width: 80%;
    margin: 0.5rem 0;
    background: #eee;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    color: black;
    text-transform: none;
    border: none;
}

.navbar .login-form p {
    font-size: 0.7rem;
    /*padding: 0.2rem 0;*/
    color: var(--light-color);
    padding-top: 0.2rem;
}

.navbar .login-form p a {
    color: #397ef6;
    text-decoration: underline;
}
/* Content */

.content {
    background-image: url(f4.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px 5%;
    display: flex;
    flex-direction: column;
    /*justify-content:center;*/
    align-items: flex-start;
    color: #1e1e1e;
    height: 100vh;
}

.content h1 {
    font-size: 60px;
    margin-top: 250px;
    font-weight: bold;
}

.content p {
    font-size: 22px;
    margin-top: 20px;
    /*margin-left: 100px;*/
}

.content button {
    margin-top: 30px;
    padding: 15px 30px;
    border: 1px solid #397ef6;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.content button:hover {
    border: none;
    background: #397ef6;
    color: #fff;
}

.pheading {
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

/* Features */
.features .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .row h1 {
    width: 100%;
    text-align: center;
    font-size: 3.75em;
    margin: 0.6em 0;
    font-weight: 600;
    color: #397ef6;
}

.features .column {
    padding: 1em;
}

.features .card {
    height: 300px;
    width: 400px;
    padding: 3.1em 1.25em;
    text-align: center;
    background: linear-gradient(0deg, #397ef6 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0,0,0,0.15);
    border-radius: 0.5em;
}

.features .card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em 0;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #070024;
}

.features .card p {
    line-height: 2em;
    color: #625a71;
}

.features .card:hover {
    background-position: 0;
}

.features .card:hover .icon:before {
    height: 2.25em;
    width: 2.25em;
}

/* Reviews Section */
.reviews .section_container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.reviews .reviews-header {
    margin-bottom: 2rem;
}

.reviews .reviews-header p {
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
}

.reviews .reviews-header h1 {
    font-size: 2rem;
    font-weight: 900;
}

.reviews .testimonials-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.reviews .card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    cursor: pointer;
}

.reviews .card i {
    font-size: 2.5rem;
    color: gold;
}

.reviews .card p {
    font-size: 1rem;
    font-weight: 500;
}

.reviews .card hr {
    width: 40px;
    margin: auto;
    color: var(--extra-light);
}

.reviews .card img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}

/*Abstract Page*/

.abstract .heading {
    text-align: center;
    margin-top: 25px;
    margin: 100px;
}

.abstract .heading h1 {
    font-size: 50px;
    color: #397ef6;
    margin-bottom: 10px;
}

.abstract .heading p {
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
    text-align: justify;
    text-indent: 5%;
}

/*About Us Page*/

.about .about-us {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.about .about-us img {
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}

.about .about-content {
    padding: 20px;
}

.about .about-content h2 {
    color: #397ef6;
    font-size: 50px;
    margin: 15px 0px;
}

.about .about-content p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 5%;
}

.our-team .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
    justify-content: center;
}

.our-team .column {
    padding: 1em;
}

.our-team .row h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #397ef6;
}

.our-team .card {
    height: 400px;
    width: 350px;
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #397ef6;
    cursor: pointer;
}

.our-team .card:hover {
    background: linear-gradient(#88cdf6, #015c92);
    color: #ffffff;
}

.our-team .card:hover .img-container {
    transform: scale(1.15);
    background-color: #ffffff;
}

.our-team .card .img-container {
    width: 10em;
    height: 10em;
    background-color: #397ef6;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.our-team .card img {
    width: 100%;
    border-radius: 50%;
}

.our-team .card h3 {
    font-weight: 500;
    color: #1e1e1e;
    margin-top: 2.5em;
    font-size: 25px;
}

.our-team .card p {
    color: #1e1e1e;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.our-team .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.our-team .card a {
    margin-top: 1em;
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}

/* Products Page */

.sec {
    padding: 10px 5%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.products .card {
    width: 410px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 450px;
    width: 100%;
}

.products .card .desc {
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title {
    font-weight: 500;
    font-size: 16px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .button {
    padding: 0;
    justify-items: right;
    margin-top: 25px;
}

.products .card .box .read-more-cont {
    display: none;
}

.products .card .price {
    color: #397ef6;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn {
    font-size: 13px;
    color: #397ef6;
    padding: 10px 18px;
    font-weight: 500;
    border: 1px solid #397ef6;
    border-radius: 12px;
}

.products .card .box .btn:hover {
    cursor: pointer;
    background-color: #397ef6;
    color: white;
}

.products .popup {
    position: absolute;
}

.products .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.products .popup .popup-content {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 500px;
    height: 550px;
    z-index: 2;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

.products .popup .popup-content .p1 {
    text-indent: 10%;
}

.products .popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #397ef6;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 20%;
}

.products .popup.active .overlay {
    display: block;
}

.products .popup.active .popup-content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
/*.popup-box {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.popup-box.open {
    visibility: visible;
    opacity: 1;
}

.popup-box .popup-content {
    background-color: #ffffff;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.popup-box .popup-header {
    padding: 15px 40px 15px 15px;
    border-bottom: 1px solid #dddddd;
}

.popup-box .popup-header .popup-close-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.popup-box .popup-header h3{
    margin: 0;
    color: red;
    font-size: 20px;
}
.popup-box .popup-body {
    padding: 15px;
}

.popup-box .popup-body p{
    font-size: 16px;
    color: #555555;
    margin: 0 0 15px;
}

.popup-box .popup-footer {
    padding: 15px;
    border-top: 1px solid #dddddd;
    text-align: right;
}

.popup-box .popup-footer .btn{
    padding: 8px 15px;
    border: 1px solid #555555;
    color: #555555;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
}

.popup-box .popup-footer .btn:focus {
    outline: none;
}*/

/* Footer */

footer {
    background-color: #f3f4f6;
    height: 10vh;
}

footer p {
    text-align: center;
    line-height: 10vh;
}

footer p a {
    text-decoration: none;
    color: #397ef6;
    font-weight: bold;
}

/*Responsive*/

@media (max-width: 820px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #f3f4f6;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0%;
    }

    .navbar li{
        display: flex;
        justify-content: center;
    }

    .navbar li a{
        margin: 10px 0;
        font-size: 25px;
    }
}

/*Product Page*/
.product {
    padding: 100px 5%;
}